@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Rubik&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(35deg, rgba(69,218,109,1) 0%, rgba(62,195,226,1) 100%);
  background-repeat: repeat;
}

.roomNumber{
  padding: 10px;
  background-color: #242424;
  border-bottom:thin solid rgba(255, 255, 255, 0.74) ;
  color: #fff;
}

.chat {
  margin: auto;
  width: 26em;
  height: 30em;
  background-color: rgb(25, 26, 27); 
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
}

.messages {  
  flex-grow: 1;
  justify-self: stretch;
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;

}

.message{
  color: white;
  font-size: 1.3em;
  margin: 0.3em;
}

.messageContent {
  width: fit-content;
  max-width: 60%;
}

.messageAuthor > span{
  font-size: 0.5em;
  color: #FFF;
}

.messageContent {
  background-color: rgb(117, 172, 223);
  border-radius: 10px;
  padding: 0 0.5em 0.2em 0.5em;
}

.ownMessage > .messageContent {
  background-color: rgb(53, 212, 125);
  margin-left: auto;
}

.joinRoomText{
  color: rgb(112, 112, 112);
  font-size: 0.8em;
  text-align: center;
}

.messageContent span {
  overflow-wrap: break-word;
}

#separationLine {
  width: 95%;
  height: 1px;
  background-color: #242424;
  margin: auto;
}

#sendMessageFooter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #1d1e22;
  padding: 10px;
  border-radius: 40px;
  margin: 10px;
}

.inputMessage {
  flex-grow: 1;
  margin-left: 10px;
  margin-right: 10px;
  border: none;
  background-color: transparent;
  color: white;
}

.inputMessage:focus {
  outline: none;
}

.sendMessageButton {
  font-size: 2em;
  color: rgb(107, 228, 107);
  display: flex;
  align-items: center;
}


