
.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.roomForm {
  margin: auto;
}

.chat {
  width: 22em;
  height: 30em;
  margin: 10px;
}

.messages {
  height: 20em;
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
  border: 1px solid black;
}

.message{
  color: gray;
}

.message > div > p {
  margin: 0;
}

.messageAuthor {
  font-size: 0.6em;

}


.ownMessage{
  color: green;
  text-align: right;
}